.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400. bold;
  font-style: normal;
  letter-spacing: 1.2em;
  border-bottom: solid 3px gray ;
  text-shadow: 2px 2px 3px gray; 
  text-align: center;
  font-size: 40px
} 
main {
  font-family: "Arial","Mairyo",sans-serif;
  font-size: 20px
}
  .text-color {
  color:skyblue;
  }
  .text2-color {
  color: rgb(255,192,203);
}
h2 {
    color: rgb(255,192,203);
    text-align: center; 
  }
P {
    text-align: center; 
}
